<div class='header'>search music database</div>

<form method='GET' >
	<div class='field'>
		<label for="artists" >artist</label>
		<input type='text' name='artists' value="<%= @search['artists'] %>" />
	</div>


	<div class='field'>
		<label for="album" >album</label>
		<input type='text' name='album' value="<%= @search['album'] %>" />
	</div>

	<div class='field'>
		<label for="song" >song</label>
		<input type='text' name='name' value="<%= @search['name'] %>" />
	</div>

	<div class='field'>
		<input type='submit' value='search' />
	</div>
</form>

<hr />

<% if @search['results'].total > 0 %>

	<div class="pagination-controls" >
		<div class='pagination-control' >
			<a href='/search?<%= paginate @page - 1 %>'>
			<< previous
			</a>
		</div>

		<div class='pagination-control' >
			<a href='/search?<%= paginate @page + 1 %>'>
			next >>
			</a>
		</div>

	</div>

	<div class="pagination-results" >
		page <%= @page %> of 
		<%= (@search['results'].total / (@page * 100)) + 1 %>
		&nbsp; (found <%= @search['results'].total %> records)
	</div>


	<div class="space"></div>

	<div class='result' >
		<div class='result-counter result-value' >
			&nbsp;
		</div>
		<div class='result-header result-artist' >
			artist<br />
		</div>
		<div class='result-header result-album' >
			album
		</div>
		<div class='result-header result-song'>
			song
		</div>
	</div>
	<div class='space'>&nbsp;</div>

	<% @search['results'].each_with_index do | result, i | %>
		<div class='result' >
			<div class='result-counter result-value' >
				<%= i + 1 %>
			</div>
			<div class='result-value result-artist' >
				<%= result.artists.join(",") %><br />
			</div>
			<div class='result-value result-album' >
				<%= result.album %>
			</div>
			<div class='result-value result-song'>
				<%= result.name %>
			</div>
		</div>
		<div class='space'>&nbsp;</div>

	<% end %>

<% else %>
	<div class='no-results'> no results </div>

<% end %>